<!DOCTYPE HTML>
<head>
  <title>Robothand Controller</title>
</head>
<body>
  <div id="sliders">
  <input type="range" min="=90" max="90" value="0" id="1">  <!-- Change the value based on which servo it is actually -->
  <input type="range" min="-90" max="90" value="0" id="2">
  <input type="range" min="-90" max="90" value="0" id="3">
  <input type="range" min="-90" max="90" value="0" id="4">
  <input type="range" min="-90" max="90" value="0" id="5">
  </div>
    <div id="visualization" class="visual">
    
  </div>
  <script>
    
  </script>
</body>
