<!DOCTYPE HTML>
<head>
  <title>Robothand Controller</title>
</head>
<body>
  <div id="sliders">
  <input type="range" min="=90" max="90" value="0" id="1">  <!-- Change the value based on which servo it is actually -->
  <input type="range" min="-90" max="90" value="0" id="2">
  <input type="range" min="-90" max="90" value="0" id="3">
  <input type="range" min="-90" max="90" value="0" id="4">
  <input type="range" min="-90" max="90" value="0" id="5">
  </div>
    <div id="visualization" class="visual">
    
  </div>
  <script>
    async function sendData(){
      var sendData = {
        "1": document.getElementById("1").value,
        "2": document.getElementById("2").value,
        "3": document.getElementById("3").value,
        "4": document.getElementById("4").value,
        "5": document.getElementBYId("5").value
      }
       fetch('/sendHandAngles', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(sendData) 
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
    })
    .catch((error) => {
      console.error('Error:', error);
    });
 
    }
  </script>
</body>
